#navbar01{

margin-left: 0px;
margin-right: 0px;
background-color: #fff;

}

#navbar01 a:hover{
 
color: rgb(1, 243, 231);


}
  
#navbar01 a{
 
margin: 5px;
padding: 0px;
color: #000;





    
}

  #navbar01 ul{

    text-align: center;
    align-items: center;
    padding: 0;
    margin: 0;
    
  }

#header-main {


margin: 0;
padding: 0;
background-color: #fff;
 border: none; 
 position: fixed;
 transition: none;
}